# Backend / Database Settings
DB_HOST=db
DB_USER=frauduser
DB_PASSWORD=fraudpassword
DB_NAME=fraudshield

# Security
SECRET_KEY=supersecretkey_for_fraudshield_ai_enterprise

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
